<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre Mi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="ion-text-center">
      <h3>Fabian Lillo</h3>
    </div>

    <p>
      Actualmente soy estudiante de Ingeniería en informática. Mi objetivo como estudiante es aprender lo máximo posible
      y aplicar mis conocimientos en proyectos prácticos. Me
      encanta trabajar en equipo y aprender de los demás, lo que me ha llevado a participar en varios
      proyectos. Mi objetivo es encontrar mi primera oportunidad laboral en una empresa importante como
      desarrollador, con el fin de obtener nuevos desafíos y demostrar mi capacidad para aportar valor a la
      industria.
    </p>

  </ion-content>
</ion-content>