<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <img alt="Silhouette of mountains" src="assets/img/Gigachad.png" />
  <ion-card-header>
    <ion-card-title>Fabian Lillo </ion-card-title>
    <ion-card-subtitle>Ingeniero en Informatica</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Actualmente soy estudiante de Ingeniería en informática. Mi objetivo como estudiante es aprender lo máximo posible y
    aplicar mis conocimientos en proyectos prácticos.
  </ion-card-content>
</ion-card>


<ion-content>
  <ion-button expand="full" routerLink="/sobre-mi">Sobre Mi</ion-button>
  <ion-button expand="full" routerLink="/habilidades">Habilidades</ion-button>
  <ion-button expand="full" routerLink="/hobbies">Hobbies</ion-button>
</ion-content>